section{
     min-height: 300px;
}

.icon-bar {
     background-color: black;
}
.navbar {
     background-color: transparent;
     box-shadow: none;
}
.navbar a{
     border-radius: 0;
     background-color: transparent;
     box-shadow: none;
     margin: 0px !important;
     font-weight: 500;
     color: black;
     z-index: 3;
}

.navbar-nav li:hover a{
     background-color: transparent;
     color: gold;
}

.navbar-clicked {
     background-color: #e5eaee;
     -o-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
     -ms-transition-duration: 0.8s;
     -webkit-transition-duration: 0.8s;
     transition-duration: 0.8s;
}

.navbar-unclicked {
     background-color: transparent;
     -o-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
     -ms-transition-duration: 0.8s;
     -webkit-transition-duration: 0.8s;
     transition-duration: 0.8s;
}

.carousel-inner{
     height: 300px;
     width: 100%;
}
.carousel-item img{
     margin-top: -10%;
     transform: scale(2);
     position: fixed;
}

#title-display{
     text-align: center;
     position: absolute;
     top: 40%;
     margin: 0 auto;
     width: 100%;
}

#title-display .container{
     width: 100%;
     margin: 0 auto;
}

#title-display span{
     max-width: 900px;
}

#title-display h1{
     white-space: nowrap;
     width: 100%;
     display: inline;
     text-transform: uppercase;
     border-width: 8px;
     border-style: solid;
     border-color: white;
     padding: 10px;
     color: white;
     font-size: 4vw;
}

.kicker {
     color: white;
     margin-top: 30px;
     font-size: 1.7vw;
     font-weight: 100;
}
/*
#title-display{
     vertical-align: middle;
     text-align: center;
     justify-content: center;
     position: absolute;
     top: 50%;
     left: 50%;
     margin: -40px 0 0 -450px;
}
#title-display span{
     max-width: 900px;
    float: left;
    position: absolute;
}

#title-display h1 {
     display: inline;
     text-transform: uppercase;
     border-width: 8px;
     border-style: solid;
     border-color: white;
     padding: 10px;
     color: white;
     font-size: 4vw;
}

.kicker {
     color: white;
     margin-top: 30px;
     font-size: 1.7vw;
     font-weight: 100;
}
*/

#about-me{
     margin-top: 50px;
}

h3{
     font-size: 16px;
     color: #d7ae5c;
     text-align: center;
     text-transform: uppercase;
}

.face-img{
     height: 200px;
}

#about-me{
     margin: 30px;
}

#about-me .face-img img{
     display: block;
     margin: 0 auto;
     margin-top: 10px;
     border-radius: 50%;
     height: 100%;
}

.blurb p{
     display: block;
     margin: 0 auto;
     margin-top: 10px;
     text-align: center;
     max-width: 800px;
     font-weight: 100;
     font-size: 24px;
}

.blurb p a{
     color: #d7ae5c;
}

.blurb p a:hover{
     text-decoration: none;
}

#work {
     margin: 10px;
     background-color: #e5eaee;
     height: 300px;
}

#contact {
     margin: 10px;
     margin-bottom: 0px;
     background-color: #e5eaee;
}
